@inject ICurrentUserService CurrentUserService
@using AspNetFinalProject.Enums
@using AspNetFinalProject.Services.Interfaces
@model AspNetFinalProject.DTOs.BoardDto
@{
    ViewData["Title"] = Model.Title;
    // ViewData["AdminRights"] = await CurrentUserService.HasRoleAsync(
    //     Guid.Parse(Model.Id), 
    //     [WorkSpaceRole.Admin, WorkSpaceRole.Owner]);
}

<h2>Налаштування: @Model.Title</h2>

<ul class="nav nav-tabs mb-3" id="settingsTabs">
    <li class="nav-item">
        <a class="nav-link active" data-action="open-tab" data-tab="general" href="#">Загальні</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-action="open-tab" data-tab="participants" href="#">Учасники</a>
    </li>
</ul>

<div id="tabContent">
    <div data-tab-content="general" id="tab-general">
        <form data-action="update-board-form" id="boardSettingsForm">
            <div class="mb-3">
                <label class="form-label">Назва</label>
                <input type="text" maxlength="100" minlength="3" class="form-control" name="title" value="@Model.Title">
            </div>
            <div class="mb-3">
                <label class="form-label">Опис</label>
                <textarea class="form-control" maxlength="1000" name="description">@Model.Description</textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Видимість</label>
                <select class="form-select" name="visibility" asp-for="Visibility"
                        asp-items="Html.GetEnumSelectList<BoardVisibility>()">
                </select>
            </div>
            @* @{ *@
            @*      if ((bool?)ViewData["AdminRights"] == true) *@
            @*      { *@
                    <button type="submit" class="btn btn-primary">
                        Зберегти
                    </button>
            @*     } *@
            @* } *@
        </form>
        
        <button class="btn btn-sm @(Model.IsSubscribed ? "btn-danger" : "btn-success")"
                data-id="@Model.Id"
                data-action="subscribe-board"
                data-subscribed="@Model.IsSubscribed"
                id="subscribe-btn">
            @(Model.IsSubscribed ? "Відписатися" : "Підписатися")
        </button>
        
        @* @{ *@
        @*     if ((bool?)ViewData["AdminRights"] == true) *@
        @*     { *@
                <button class="btn btn-sm btn-danger ms-2"
                        id="delete-btn"
                        data-id="@Model.Id"
                        data-action="delete-board"
                        data-title="@Model.Title">🗑</button>
        @*     } *@
        @* } *@
    </div>
    <div data-tab-content="participants" id="tab-participants" class="d-none">
        <div class="row g-3">
            <div class="col-md-6">
                <h5 class="mb-2">Учасники</h5>
                <div>
                    <div id="participants-list" class="vstack gap-2">
                        <!-- тут з’являться картки учасників -->
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h5 class="mb-2">Додати учасника</h5>
                <div class="mb-2">
                    <input data-action="search-participant-input" id="participant-search" class="form-control" placeholder="Введи нік або email" autocomplete="off">
                </div>
                <div data-participants-search-results id="participant-search-results" class="vstack gap-2">
                    <!-- тут з’являться результати пошуку -->
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_ConfirmDeleteModal")
@section Scripts {
    <script>
        window.board = @Html.Raw(Json.Serialize(Model));
    </script>
    <script type="module" src="~/js/features/boards/settings/main.js"></script>
}