@page
@inject IUserActionLogService UserActionLogService
@using AspNetFinalProject.Enums
@using AspNetFinalProject.Mappers
@using AspNetFinalProject.Services.Interfaces
@model Logs
@{
    ViewData["Title"] = "Logs";
    ViewData["ActivePage"] = ManageNavPages.Logs;
    Layout = "_Layout.cshtml";
}

<h3 class="mb-4">@ViewData["Title"]</h3>

@if (!Model.UserLogs.Any())
{
    <div class="alert alert-info">Жодних дій не зафіксовано.</div>
}
else
{
    <table class="table table-bordered table-striped">
        <thead class="table-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Час</th>
            <th scope="col">Опис</th>
            <th scope="col">Сутність</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var (log, index) in Model.UserLogs.Select((value, i) => (value, i + 1)))
        {
            <tr>
                <th scope="row">@index</th>
                <td>@log.Timestamp.ToLocalTime().ToString("g")</td>
                <td>@{
                        foreach (var logMessage in log.Messages)
                        {
                            <p>@logMessage</p>
                        }
                    }</td>
                <td>
                    <a href="@await UserActionLogService.GetEntityLink((EntityTargetType)log.EntityType, Guid.Parse(log.EntityId))" class="btn btn-outline-info">
                        @(EntityTargetTypeMapper.CreateDto((EntityTargetType)log.EntityType).Text)
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@section Scripts {
    <script type="module" src="~/js/features/logs/main.js"></script>
}